<!DOCTYPE html>
<html>
<head>
  <title>Game</title>
  <link href="/static/madlibs.css" rel="stylesheet">
</head>
<body>
    <h1>Let's play a game.</h1>
    <form action="/madlib">
        Enter a Person: <input type="text" name="person" required><br>
        Enter a color: <input type="text" name="color" required><br>
        Gimme a noun: <input type="text" name="noun" required><br>
        Gimme an adjective: <input type="text" name="adjective" required><br>
        Choose some verbs: <br>
        <input type="checkbox" name="verb" value="jump">Jump<br>
        <input type="checkbox" name="verb" value="sing">Sing<br>
        <input type="checkbox" name="verb" value="supervise">Supervise<br>
        <input type="submit" value="Submit">

    </form>
</body>
</html>